.ViewProduct {
  position: fixed;
  top: 100%;
  min-height: 50px;
  transform: translateY(-100%);

  width: 100%;

  border-top: 1px solid black;
  background-color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;

  &__img {
    width: 150px;
    height: 150px;
  }  
}